#root,.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}
#root {
  width: 100%;
  margin: 0 auto;
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
video{
  object-fit: fill;
}
.video-js{
  position: absolute;
  top: 0;
  bottom: 0;
}
.button{
  width: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  margin-top: -70px;
  
}
.videoPop{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  
}
button.vjs-big-play-button{
  display: none !important;
}
/* video{
  object-fit: fill;
} */
.vjs-control-bar{
  display: none !important;
}
html,body{
  width: 100%;
  height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
