.videoList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.videoList img{
    width: 100%;
    height: 100%;
}
.videoItem{
    width: 249px;
    height: 360px;
    overflow: hidden;
    margin-bottom: 1px;

}
.videoItem:nth-child(3n-1){
    width: 250px;
}